:root {
  --blue-color: #1992d4;
  --gray-color: #e2e8f0; 
  --yellow-color: #facc15;
}


body {
  font-family: Roboto, Arial;
}

#container {
  display: grid;
  grid-template-columns: 21% 79%;
  grid-template-rows: 22% 78%;
  height: 100vh;
}

header {
  background-color: white;  
  grid-column: 2 / -1;
  grid-row: 1 / 1;
  display: grid;
  grid-template-rows: 45% 55%;
}

#topHeader {
  grid-row: 1 / 2;
  display: grid;
  grid-template-columns: 70% 40%;
  align-items: center;
}

#inputDiv {
  display: grid;
  grid-template-columns: 10% 90%;
  margin-left: 2rem;
}

#inputDiv input {
  width: 400px;
}

#userDiv {
  display: grid;
  grid-template-columns: 25% 25% 50%;
  align-items: center;
  margin-right: 5rem;
  align-items: center;
}

#bottomHeader {
  grid-row: 2 / 3;
  display: grid;
  grid-template-columns: 10% 50% 40%;
  align-items: center;
}

#greetingImage {
  grid-column: 1 / 1;
}

#greeting {
  grid-column: 2 / 2;
}

#headerButtons {
  display: grid;
  grid-column: 3 / 3;
  grid-template-columns: repeat(3, 1fr);
}

button {
  background-color: var(--blue-color) ;
  color: white;
  border-style: none;
  width: 90px;
  height: 30px;
  border-radius: 14px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

button:hover {
  background-color: darkblue;
  transform: scale(1.03);
}

#sidebar {
  background-color: var(--blue-color);
  grid-column: 1 / 1;
  grid-row: 1 / -1;
  color: white;
  height: 100vh;
}

#sidebar ul {
  list-style: none;
  font-size: 22px;
  font-weight: bold;
}

#sidebar ul li {
  margin-bottom: 20px;
}

main {
  background-color: var(--gray-color);
  grid-column: 2 / -1;
  grid-row: 2 / -1;
  display: grid;
  grid-template-columns: 75% 25%;
  overflow: auto;
  /* height: 100vh; */
}

#projects {
  grid-column: 1 / 1;
  display: grid;
}

#cardsContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 310px));
  gap: 1rem;
  padding: 0 1rem 1rem 1rem;
}

.cards {
  background-color: white;
  border-radius: 6px;
}

aside {
  grid-column: 2 / 2;
  display: grid;
  padding-right: 2rem;
  /* width: 100%; */
}

#announcements {
  background-color: white;
  padding: 0 2rem;
  border-radius: 6px;
}

#trending {
  background-color: white;
  display: grid;
  grid-template-columns: auto 25% 75%;
  /* grid-template-rows: auto 4fr; */
  padding: 0 1rem;
  border-radius: 6px;
}

#trending li {
  list-style: none;
}

.avatar {
  grid-column: 1 / 2;
}

.trending-info {
  grid-column: 2 / 3;
}