:root {
  --blue-color: #1992d4;
  --gray-color: #e2e8f0; 
  --yellow-color: #facc15;
}


body {
  font-family: Roboto, Arial;
}

#container {
  display: grid;
  grid-template-columns: 21% 79%;
  grid-template-rows: 16% 84%;
  height: 100vh;
}

header {
  background-color: white;  
  grid-column: 2 / -1;
  grid-row: 1 / 1;
  display: grid;
  grid-template-rows: 45% 55%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1;
  padding-right: 20px;
}

#top-header {
  grid-row: 1 / 2;
  display: grid;
  grid-template-columns: 70% 25%;
  align-items: center;
  margin-top: 10px;
}

#input-div {
  display: grid;
  grid-template-columns: 10% 90%;
  margin-left: 2rem;
}

#search {
  width: 85%;
  border-radius: 15px;
  border: none;
  background-color: var(--gray-color);
}

#search:focus {
  outline: none;
}

#user-div {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  justify-items: center;
}

#user-div p {
  font-weight: bold;
}

#bell {
  height: 25px;
  width: 25px;
}

#avi {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

#bottom-header {
  grid-row: 2 / 3;
  display: grid;
  grid-template-columns: 9% 61% 30%;
  align-items: center;
  margin-left: 4%;
}

#profile-pic {
  grid-column: 1 / 1;
}

#profile-pic img {
  height: 70px;
  width: 70px;
  border-radius: 50%;
}

#greeting {
  grid-column: 2 / 2;
}

#hi {
  font-weight: bold;
}

#user {
  font-weight: bold;
  font-size: 22px;
  margin-top: -8px;
}

#headerButtons {
  display: grid;
  grid-column: 3 / 3;
  grid-template-columns: repeat(3, 1fr);
}

#input-div img {
  height: 30px;
  width: 30px;
}

button {
  background-color: var(--blue-color) ;
  color: white;
  border-style: none;
  width: 90px;
  height: 30px;
  border-radius: 14px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

button:hover {
  background-color: darkblue;
  transform: scale(1.03);
}

#sidebar {
  background-color: var(--blue-color);
  grid-column: 1 / 1;
  grid-row: 1 / -1;
  color: white;
  height: 100vh;
  display: grid;
  grid-template-rows: 10% 37% 53%;
}

#sidebar-logo {
  font-size: 19px;
  grid-row: 1 / 2;
  display: flex;
  align-items: center;
  margin: 18px;
}

#sidebar-logo img {
  height: 55px;
  width: 55px;
  margin: 0 10px;
}

#first-list {
  grid-row: 2 / 3;
  overflow: auto;
}

#second-list {
  grid-row: 3 / 4;
}

.nav-item {
  font-size: 23px;
  display: flex;
  align-items: center;
}

.nav-item:hover .icon,
.nav-item:hover .link-text {
  transform: scale(1.03);
}

.icon,
.link-text {
  transition: transform 0.3s ease;
}

.icon {
  height: 30px;
  width: 30px;
  margin-right: 25px;
}

#sidebar ul {
  list-style: none;
  font-size: 22px;
  font-weight: bold;
}

#sidebar ul li {
  margin-bottom: 25px;
}

main {
  background-color: var(--gray-color);
  grid-column: 2 / -1;
  grid-row: 2 / -1;
  display: grid;
  grid-template-columns: 75% 25%;
  overflow: auto;
  padding-bottom: 10px;
  padding-top: 15px;
}

#projects {
  grid-column: 1 / 1;
  display: grid;
}

#projects h2 {
  padding-left: 1.5rem;
}

#cardsContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  gap: 1rem;
  padding: 0 1.5rem 1rem 1.5rem;
}

.container-titles {
  margin-bottom: 0px;
}

.cards {
  background-color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  border-left: 6px solid #f0b429;
  height: 13.5rem;
  padding: 0 1rem;
  transition: transform 0.5s ease;

}

.cards:hover {
  transform: scale(1.02);
}

aside {
  grid-column: 2 / 2;
  display: grid;
  padding-right: 2rem;
}

#announcements {
  background-color: white;
  padding: 0 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#announcements h5 {
  margin-bottom: 1px;
}

#announcements p {
  font-size: 12px;
  padding-bottom: .7rem;
}

#announcements p:nth-child(2),
#announcements p:nth-child(4) {
  border-bottom: 2px solid var(--gray-color);
}

#trending {
  background-color: white;
  border-radius: 8px;
  font-size: 13px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  align-content: center;
}

#trending li {
  list-style: none;
}

.trending-item {
  display: flex;
  align-items: center;
  padding: 8px;
}

.trending-info p {
  margin: 4px 0px;
}

.avatar {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin-right: 10px;
  margin-left: -25px;
}